tr {
  border: 1px solid black;
  padding: 16px;
  &.text-row {
    padding: 8px 0;
  }
  fieldset {
    background: aquamarine;
  }
  td {
    height: 36px;
  }
}
div.buttons {
  display: flex;
  flex-flow: row nowrap;
  & > button {
    height: 36px;
    &:first-child {
      flex-grow: 1;
    }
  }

}