.connection {
  display: flex;
  flex-flow: row nowrap;
  .spacer {
    flex-grow: 1;
  }
  div.icon {
    &.primary {
      margin: 4px;
      height: 8px;
      width: 8px;
      display: block;
      border-radius: 4px;
    }
    &.secondary {
      border-radius: 8px;
      margin-right: 8px;
    }
  }
  div.name-and-subtitle {
    div:last-child {
      color: #999;
      font-style: italic;
    }
  }
}

button {
  text-transform: unset !important;
}